html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: lighter;
	background: url("../img/background.jpg") no-repeat;
	background-size: cover;
}

.logo {
	position: absolute;
	left: 50%;
	top: 100px;
	width: 193px;
	height: 51px;
	margin-left: -97px;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.blog-link,
.bg-credits {
	position: absolute;
	bottom: 20px;
	font-size: 12px;
	color: #eaeaea;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.blog-link {
	left: 20px;
}

.bg-credits {
	right: 20px;
}

span > a {
	color: #d8d8d8;
	text-decoration: none;
}

span > a:hover {
	color: #888;
}